h2 {
    text-align: center;
    padding: 1.5rem;
}

p {
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 43.75rem;
    font-family: sans-serif;
}

hr {
    border-top: 1px solid #c2c5cc;
    width: 60%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}